{% extends "layout.html" %} 

{% block title %} Relatórios {% endblock title%} 

{%block body %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Relatórios</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="{% url 'index' %}">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'consultas' %}">Consultas</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'reports' %}">Relatórios</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">Quantidade de Detenções por Raça</div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="min-height: 375px">
            <canvas id="statisticsChart"></canvas>
          </div>
          <div id="myChartLegend"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Bar Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Pie Chart</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  <script>
    var ctx = document.getElementById('statisticsChart').getContext('2d');

    var datasets_json = {{datasets_json|safe}}
    var meses = {{nomes_meses|safe}}
    var quantidades_meses = {{quantidades_meses|safe}}
    var doencas = {{doencas|safe}}
    var quantidades_doencas = {{quantidades_doencas|safe}}
    
    var data = {
        labels:meses,
        datasets: datasets_json
    };

    var statisticsChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options : {
        responsive: true, 
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        },
        scales: {
          yAxes: [{
            ticks: {
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500",
              beginAtZero: false,
              maxTicksLimit: 5,
              padding: 20
            },
            gridLines: {
              drawTicks: false,
              display: false
            }
          }],
          xAxes: [{
            gridLines: {
              zeroLineColor: "transparent"
            },
            ticks: {
              padding: 20,
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500"
            }
          }]
        }, 
        legendCallback: function(chart) { 
          var text = []; 
          text.push('<ul class="' + chart.id + '-legend html-legend">'); 
          for (var i = 0; i < chart.data.datasets.length; i++) { 
            text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>'); 
            if (chart.data.datasets[i].label) { 
              text.push(chart.data.datasets[i].label); 
            } 
            text.push('</li>'); 
          } 
          text.push('</ul>'); 
          return text.join(''); 
        }  
      }
    });

    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = statisticsChart.generateLegend();
  </script>
{% endblock %}
