{% extends "layout.html" %} 

{% block title %} Relatórios {% endblock title%} 

{%block body %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Relatórios</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="{% url 'index' %}">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'consultas' %}">Consultas</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="{% url 'reports' %}">Relatórios</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">Quantidade de Detenções por Raça</div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="min-height: 375px">
            <canvas id="detecoesPorRaca"></canvas>
          </div>
          <div id="myChartLegend"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="height: 530px;">
        <div class="card-header">
          <div class="card-title">Quantidade de Detecções por Mês</div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="min-height: 380px">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Quantidade de Detenções por Previsões</div>
        </div>
        <div class="card-body">
          <div class="chart-container">
            <canvas id="pieChart" style="width: 50%; height: 50%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  <script>
    /* Quantidade de Detenções por Raça */
    var ctx = document.getElementById('detecoesPorRaca').getContext('2d');

    var datasets_json = {{datasets_json|safe}}
    var meses = {{nomes_meses|safe}}
    var quantidades_meses = {{quantidades_meses|safe}}
    var doencas = {{doencas|safe}}
    var quantidades_doencas = {{quantidades_doencas|safe}}
    
    var data = {
        labels:meses,
        datasets: datasets_json
    };

    var detecoesPorRaca = new Chart(ctx, {
      type: 'line',
      data: data,
      options : {
        responsive: true, 
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          bodySpacing: 4,
          mode:"nearest",
          intersect: 0,
          position:"nearest",
          xPadding:10,
          yPadding:10,
          caretPadding:10
        },
        layout:{
          padding:{left:15,right:15,top:15,bottom:15}
        },
        scales: {
          yAxes: [{
            ticks: {
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500",
              beginAtZero: false,
              maxTicksLimit: 5,
              padding: 20
            },
            gridLines: {
              drawTicks: false,
              display: false
            }
          }],
          xAxes: [{
            gridLines: {
              zeroLineColor: "transparent"
            },
            ticks: {
              padding: 20,
              fontColor: "rgba(0,0,0,0.5)",
              fontStyle: "500"
            }
          }]
        }, 
        legendCallback: function(chart) { 
          var text = []; 
          text.push('<ul class="' + chart.id + '-legend html-legend">'); 
          for (var i = 0; i < chart.data.datasets.length; i++) { 
            text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>'); 
            if (chart.data.datasets[i].label) { 
              text.push(chart.data.datasets[i].label); 
            } 
            text.push('</li>'); 
          } 
          text.push('</ul>'); 
          return text.join(''); 
        }  
      }
    });

    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = detecoesPorRaca.generateLegend();

    /* Quantidade de Detecções por Mês */
    barChart = document.getElementById('barChart').getContext('2d');
    var myBarChart = new Chart(barChart, {
			type: 'bar',
			data: {
				labels: meses,
				datasets : [{
					label: " Detecções por Mês",
					backgroundColor: 'rgb(23, 125, 255)',
					borderColor: 'rgb(23, 125, 255)',
					data: quantidades_meses,
				}],
			},
			options: {
				responsive: true, 
				maintainAspectRatio: false,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});

    /* Quantidade de Detenções por Previsões */
    function corAleatoria() {
      var cor = '#';
      var caracteres = '0123456789ABCDEF';
      for (var i = 0; i < 6; i++) {
          cor += caracteres[Math.floor(Math.random() * 16)];
      }
      return cor;
    }

    function gerarCoresAleatorias(quantidade) {
      var cores = [];
      for (var i = 0; i < quantidade; i++) {
          cores.push(corAleatoria());
      }
      return cores;
    }

    var myPieChart = new Chart(pieChart, {
			type: 'pie',
			data: {
				datasets: [{
					data: quantidades_doencas,
					backgroundColor: gerarCoresAleatorias(quantidades_doencas.length),
					borderWidth: 0
				}],
				labels: doencas 
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position : 'bottom',
					labels : {
						fontColor: 'rgb(154, 154, 154)',
						fontSize: 11,
						usePointStyle : true,
						padding: 20
					}
				},
				pieceLabel: {
					render: 'percentage',
					fontColor: 'white',
					fontSize: 14,
				},
				tooltips: false,
				layout: {
					padding: {
						left: 20,
						right: 20,
						top: 20,
						bottom: 20
					}
				}
			}
		})
    
  </script>
{% endblock %}
