{% extends "layout.html" %} 

{% load static%}

{% block title %} Meu Perfil {% endblock title%} 

{% block body %}
    <div class="page-inner">
        <h4 class="page-title">Meu Perfil</h4>
        <div class="row">
            <div class="col-md-8">
                
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <!--SUCCESS MESSAGE-->
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {% endif %}

                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <!--ERROR MESSAGE-->
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %} 
		    {% endif %}

                <div class="card card-with-nav">
                    <div class="card-header">
                        <div class="row row-nav-line">
                            <ul class="nav nav-tabs nav-line nav-color-success" role="tablist" id="myTab">
                                <li class="nav-item"> <a class="nav-link active show" id="perfil-tab" data-toggle="tab" data-target="#perfil" href="#perfil" role="tab" aria-controls="perfil" aria-selected="true">Perfil</a> </li>
                                <li class="nav-item"> <a class="nav-link" id="editar-perfil-tab" data-toggle="tab"  data-target="#editar-perfil" href="#editar-perfil" role="tab" aria-controls="editar-perfil" aria-selected="false">Editar Perfil</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="perfil" role="tabpanel" aria-labelledby="perfil-tab">
                                <div class="mb-4">
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold text-lg">Nome Completo</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.email}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Gênero</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.genero}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Data de Nascimento</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.data_nascimento}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Telefone</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.telefone}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row mb-4">
                                        <div class="col-sm-3">
                                            <p class="mb-0 fw-bold">Endereço</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{user.endereco}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="editar-perfil" role="tabpanel" aria-labelledby="editar-profile-tab">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{form.as_p}}
                                            <div class="text-right mt-3 mb-3">
                                                <button class="btn btn-success" type="submit">Actualizar</button>
                                                <button class="btn btn-danger" type="reset">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-success">
                    <div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
                        <div class="profile-picture">
                            <div class="avatar avatar-xl">
                                {% if user.genero == 'Masculino' %}
                                    <img src="{% static 'assets/img/profile.jpg' %}" alt="..." class="avatar-img rounded-circle">
                                {% else %}
                                    <img src="{% static 'assets/img/profile-female.jpg' %}" alt="..." class="avatar-img rounded-circle">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="user-profile text-center">
                            <div class="name">{{user.first_name}} {{user.last_name}}</div>
                            {% if user.is_superuser == 1%}
                                <div class="job">Administrator</div>
                            {% else %}
                                <div class="job">Veterinário (a)</div>
                            {% endif %}
                            <div class="desc">{{user.bio}}</div>

                            <div class="social-media">
                                <a class="btn btn-info btn-twitter btn-sm btn-link" href="#"> 
                                    <span class="btn-label just-icon"><i class="flaticon-twitter"></i> </span>
                                </a>
                                <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                                    <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span> 
                                </a>
                                <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#"> 
                                    <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span> 
                                </a>
                                <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#"> 
                                    <span class="btn-label just-icon"><i class="flaticon-instagram"></i> </span> 
                                </a>
                            </div>
                            <hr>
                            <div class="card-footer">
                                <div class="row user-stats text-center">
                                    {% if user.is_superuser == 1%}
                                        <div class="col">
                                            <div class="number">{{numUsers}}</div>
                                            <div class="title">Usuários</div>
                                        </div>
                                    {% endif%}
                                    <div class="col">
                                        <div class="number">{{numConsultas}}</div>
                                        <div class="title">Consultas</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
       var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
            triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        });
    </script>
{% endblock %}